<h3>This is mah ({{username}}) song, biatch!</h3>

<ul>
	<li>{{song.title}}</li>
	<li>{{song.status}}</li>
	<li> Users
		<ul>
			{{#song.users}}
				<li>{{this}}</li>
			{{/song.users}}
		</ul>
	</li>
</ul>

<h4>Actions</h4>

<h5>Update status</h5>
<form action="/songs/{{song.songId}}" method="POST">
	<select class="form-control" name="status" id="status">
		<option value="Added">Added</option>
		<option value="Arranged">Arranged</option>
		<option value="In practice">In practice</option>
		<option value="Performing">Performing</option>
		<option value="To be deleted">To be deleted</option>
	<select>
	<input type="submit" class="btn" value="submit" />
</form>

<h5>Add user</h5>
<form action="/songs/{{song.songId}}" method="POST">
	{{#users}}
		<div class="checkbox">
			<label>
				<input type="checkbox" value="{{username}}" name="users" id="users">{{username}}
			</label>
		</div>
	{{/users}}
	<input type="submit" class="btn" value="submit" />
</form>