<h3>This is mah ({{username}}) song, biatch!</h3>

<ul>
	<li>{{song.title}}</li>
	<li>{{song.author}}</li>
	<li>{{song.status}}</li>
	<li> Users
		<ul>
			{{#song.users}}
				<li>{{this}}</li>
			{{/song.users}}
		</ul>
	</li>
	<li>Videos (cover): 
		<ul>
			{{#song.videos.cover}}
				<li><iframe width="420" height="315" src="https://www.youtube.com/embed/{{this}}" frameborder="0" allowfullscreen></iframe></li>
			{{/song.videos.cover}}
		</ul>
	</li>

	<li>Videos (official): 
		<ul>
			{{#song.videos.official}}
				<li><iframe width="420" height="315" src="https://www.youtube.com/embed/{{this}}" frameborder="0" allowfullscreen></iframe></li>
			{{/song.videos.official}}
		</ul>
	</li>
</ul>

<h4>Actions</h4>

<h5>Update status</h5>
<form action="/songs/{{song.songId}}" method="POST">
	<select class="form-control" name="status" id="status">
		<option value="Added">Added</option>
		<option value="Arranged">Arranged</option>
		<option value="In practice">In practice</option>
		<option value="Performing">Performing</option>
		<option value="To be deleted">To be deleted</option>
	<select>
	<input type="submit" class="btn" value="submit" />
</form>

<h5>Add user</h5>
<form action="/songs/{{song.songId}}" method="POST">
	{{#users}}
		<div class="checkbox">
			<label>
				<input type="checkbox" value="{{username}}" name="users" id="users" {{#ifIn username ../song.users }}checked{{/ifIn}}>{{username}}
			</label>
		</div>
	{{/users}}
	<input type="submit" class="btn" value="submit" />
</form>

<h5>Change details</h5>
<form actions="/songs/{{song.songId}}" method="POST">
	<label for="title">Song Title:</label>
	<input type="text" name="title" id="title" class="form-control" placeholder="title" value="{{song.title}}" />

	<label for="author">Song Author:</label>
	<input type="text" name="author" id="author" class="form-control" placeholder="author" value="{{song.author}}" />

	<input type="submit" class="btn" value="submit" />
</form>